.bg-light{
    background-color: green !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card{
    border: none;
}
button:focus{
    outline: none;
}
.ui {
    background-color: white;
    width: 245px;
    height: 380px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}
.calculator {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background: #f9f9f9;
}

.numBtn {
    width: 72px;
    height: 50px;
    border: 1px solid green;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
}
.opBtn {
    background-color: maroon;
    color: white;
    font-size: 24px;
    width: 72px;
    height: 50px;
    border: 1px solid maroon;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}
  .calBtn {
    background-color: blue;
    color: white;
    font-size: 24px;
    width: 72px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    } 
  .clrBtn {
    background-color: green;
    color:white;
    font-size:18px;
    width: 72px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
  } 
  .numtxt {
    background-color: green;
    color: white;
    font-size: 14;
    height: 50px;
    width: 295px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid green;
    border-radius: 5px;
    margin-bottom: 5px;
}


    